


h1 {
font-weight: bold; 
color: navy !important; 
}

/*
code {
  font-weight: bold;
  color: red;
} 
*/ 


a {
  color: blue !important; 
}


img.myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.quote {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
  font-family: serif;
  line-height: 125%;
}

.quotesource{
  width: 75%;
  display: block;
  margin-left: 12.5%;
  margin-right: 12.5%;
  text-align: right; 
  font-style: italic;
}



/* table */ 


table.mytable td {
  text-align: center; 
  vertical-align: top;
  font-size: 0.65em;
}

table.mytable th {
  font-size: 0.85em !important;
}

table.mytable td.fst {
  text-align: left !important;
  font-weight: bold; 
  font-size: 0.85em !important;
}

table.mytable td, th {
  border: 1px solid #dddddd;
   border-collapse: collapse;
  padding: 5px;
}

img.myemoji {
  height: 30px;
  padding-bottom: 2px;
}